<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
  <div class="container">
    <h1>My Blog</h1>
    <a id="newShortBtn" href="/new">New Post</a>
    <ul id="shortsList" >
      <% shorts.forEach(short=> { %>
        <li class="short-item">
            <h2><%=short.drop%></h2>
            <p>Size - <%=short.size %></p>
            <p>Rating - <%=short.rating%></p>
            <p>Brand - <%=short.brand %></p>
            <p>Type - <%=short.type%></p>
          <a class="edit" href="/edit/<%= short.id %>">Edit</a>
          <a class="delete" href="/api/shorts/delete/<%= short.id %>">Delete</a>
        </li>
        <% }); %>
    </ul>
  </div>

</body>

</html>