<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MTS Shorts</title>
        <link rel="stylesheet" href="/styles.css">

    </head>
    <body>
        <h1><%= heading %></h1>
        <%if (locals.short) {%>
            <form id="editForm" action="/api/shorts/<%=short.id%>" method="POST">
                <select id="drop" name="drop">
                    <option>Bham West</option>
                    <option>Worcester</option>
                    <option>Black Country</option>
                    <option>Stafford</option>
                    <option>Shrewsbury</option>
                    <option>Bham Central</option>
                    <option>Stoke South</option>
                    <option>Reddich</option>
                    <option>Bham North</option>
                    <option>Burton</option>
                    <option>Stoke North</option>
                </select>
                <input type="text" name="size" id="size" value="<%=short.size%>">
                <input type="text" name="rating" id="rating" value="<%=short.rating%>">
                <input type="text" name="brand" id="brand" value="<%=short.brand%>">
                <input type="text" name="type" id="type" value="<%=short.type%>">
                <button type="submit"> <%=submit%> </button>
            </form>
        <%}else {%>
            <form id="newPostForm" action="/api/shorts" method="POST">
                <select id="drop" name="drop">
                    <option>Bham West</option>
                    <option>Worcester</option>
                    <option>Black Country</option>
                    <option>Stafford</option>
                    <option>Shrewsbury</option>
                    <option>Bham Central</option>
                    <option>Stoke South</option>
                    <option>Reddich</option>
                    <option>Bham North</option>
                    <option>Burton</option>
                    <option>Stoke North</option>
                </select>
                <input type="text" name="size" id="size" placeholder="Tyre Size">
                <input type="text" name="rating" id="rating" placeholder="Speed Rating">
                <input type="text" name="brand" id="brand" placeholder="Tyre Brand">
                <input type="text" name="type" id="type" placeholder="Tyre Type">
                <button type="submit"> <%=submit%> </button>
            </form>
        <%}%>
        
    </body>
</html>