<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Short</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <h1 class="heading"><%=heading%></h1>
    <form method="POST" action="/shorts/<%= short.id %>/update">
        <div class="new-post-container">
            <select id="drop" name="drop" value="<%=short.drop%>">
                <option>Bham West</option>
                <option>Worcester</option>
                <option>Black Country</option>
                <option>Stafford</option>
                <option>Shrewsbury</option>
                <option>Bham Central</option>
                <option>Stoke South</option>
                <option>Reddich</option>
                <option>Bham North</option>
                <option>Burton</option>
                <option>Stoke North</option>
            </select>
            <input type="text" name="size" id="size" value="<%=short.size%>">
            <input type="text" name="rating" id="rating" value="<%=short.rating%>">
            <input type="text" name="brand" id="brand" value="<%=short.brand%>">
            <input type="text" name="type" id="type" value="<%=short.type%>">
            <input type="text" name="quantity" id="quantity" value="<%=short.quantity%>">
            <button type="submit"> <%=submit%> </button>
        </div>
        
    </form>
</body>
</html>