<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTS Shorts</title>
    <link rel="stylesheet" href="/styles.css">
</head>
    <body>
        <div style="text-align: center;">
            <h1>MTS Shorts</h1>
            <a href="/shorts/new">Create a new short!</a>
            <%if (numOfShorts != 0){ %>
                <p>Total Shorts Reported - <%=numOfShorts%></p>
                <p>Total Shorts Resolved - <%=shortsResolved%></p>
                <p>Current Shorts - <%=numOfShorts-shortsResolved%></p>
            <%} %>
        </div>
        <hr>
        <ul>
            <% for (let drop in shorts[0]) { %>
                <li>
                    <div class="post-container">
                    <h2><%= drop%></h2>
                    <% shorts[0][drop].forEach(short => { %>
                        <div class="tyre-details">
                            <p> <%= short.location %> > </p>
                            <p> <%= short.info %></p>
                            <p> - Quantity - <%= short.quantity %></p>
                        </div>
                        <div class="button-container">
                            <form action="/shorts/<%=short.id%>/edit">
                                <input type="submit" value="Edit">
                            </form>
                            <form method="POST" action="/shorts/<%=short.id %>/delete">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                    <%})%>
                </li>   
            <% } %>
        </ul>
    </body>
</html>